<h1>
   SecureRpc Relay:~ {{ .Network }}
</h1>
<p>
   Homestead:
</p>
<ul>
   <li> ✓ Relay Pubkey: <tt>{{ .RelayPubkey }}</tt></li>
   <li> ✓ Bellatrix fork version: <tt>{{ .BellatrixForkVersion }}</tt></li>
   <li> ✓ Genesis fork version: <tt>{{ .GenesisForkVersion }}</tt></li>
   <li> ✓ Genesis validators root: <tt>{{ .GenesisValidatorsRoot }}</tt></li>
   <li> ✓ Builder signing domain: <tt>{{ .BuilderSigningDomain }}</tt></li>
   <li> ✓ Beacon proposer signing domain: <tt>{{ .BeaconProposerSigningDomain }}</tt></li>
</ul>
<p>
   More infos, issues &amp; feedback:
</p>
<ul>
   <li><a href="http://kb.manifoldfinance.com/docs/MEV">SecureRpc Relay API specification</a>
   </li>
   <li><a href="http://kb.manifoldfinance.com">kb.manifoldfinance.com</a></li>
   <li><a href="https://github.com/manifoldfinance/mev-boost">github.com/manifoldfinance/mev-boost</a></li>
   <li><a
      href="https://github.com/manifoldfinance/boost-geth-builder">github.com/manifoldfinance/boost-geth-builder</a>
   </li>
</ul>
<hr>
<p>
<h2>
   ⑇ Stats
</h2>
<ul>
   <li>♕ Validators total: {{ .ValidatorsTotal }}</li>
   <li>♖ Validators registered: {{ .ValidatorsRegistered }}</li>
   <li>⌛︎ Latest slot: {{ .HeadSlot }}</li>
</ul>
<hr>
<p>
<h2>
 ⇲ Recently Delivered Payloads
</h2>
<table class="pure-table pure-table-horizontal pure-table-striped" style="width:100%;">
   <thead>
      <tr>
         <th>Epoch</th>
         <th>Slot</th>
         <th>Block number</th>
         <!--<th>Parent hash</th>-->
         <th>Block hash</th>
         <th>Num tx</th>
         <th>Value</th>
      </tr>
   </thead>
   <tbody>
      {{ range .Payloads }}
      <tr>
         <td>{{.Epoch}}</td>
         <td><a href="/relay/v1/data/bidtraces/proposer_payload_delivered?slot={{.Slot}}">{{.Slot}}</a>
         </td>
         <td>{{.BlockNumber}}</td>
         <td>{{.BlockHash}}</td>
         <!--<td>{{.ParentHash}}</td>-->
         <td>{{.NumTx}}</td>
         <td>{{.Value}}</td>
      </tr>
      {{ end }}
   </tbody>
</table>
</p>
<center>
   <p>
      {{.NumPayloadsDelivered}} payloads delivered
   </p>
   <p>
      <a href="/relay/v1/data/bidtraces/proposer_payload_delivered?limit=10">Data API</a> / <a href="http://kb.manifoldfinance.com/docs/MEV">Docs</a>
   </p>
</center>
</div>
</div>